/* @font-face {
    font-family: Roboto;
    src: url('../Fonts/RobotoCondensed-Regular.ttf') format('.ttf');
} */

body {
    font-family: 'Roboto Condensed';
} 

h1 {
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 42px;
}

h3 {
    font-size: 28px;
    color: #273672;
    font-weight: 700;
    line-height: 28px;
}

h4 {
    font-size: 24px;
    color: #D5332F;
    font-weight: 700;
    line-height: 28px;
}

h5 {
    font-size: 19px;
    color: #464646;
    font-weight: bold;
    line-height: 21px;
}

p {
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
}

a {
    width: 100%;
}

#background-image-top {
    height: 675px;
}

.img-hero-large, .img-hero-small {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-hero-small {
    display: none;
}

.logo-hero {
    position: absolute;
    width: 194px;
    left: 50%;
    margin-left: -97px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.heading-block {
    background-color: #263671;
    text-align: center;
}

#intro-message p {
    color: #FFFFFF;
    padding-top: 24px;
    margin-bottom: 0px;
}

#intro-message blockquote {
    width: auto;
    max-width: 700px;
    padding-top: 28px;
    padding-bottom: 43px;
    margin: 0 auto;
}

.food-providers-images {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.food-providers-images ul {
    width: 522px;
    max-width: 100%;
    display: flex;
    padding-left: 0px;
    margin-bottom: 64px;
}

.food-providers-images li {
    display: inline;
    width: 33.33333%;
    margin-right: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    height: 88px;
    justify-content: center;
}

.food-providers-images[bottom-page=true] div {
    background: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
    height: 100px;
}

.food-providers-images img {
    display: block;
    margin: auto;
}

.food-providers-images .uber-eats {
    height: 46px;
}

.food-providers-images .deliveroo {
    height: 70px;
}

.food-providers-images .just-eat {
    height: 54px;
}

.food-providers-images li:hover {
    border: 1px #D5332F solid;
}

.food-providers-images li:focus-within {
    border: 1px #263671 solid;
}

#our-menu-title h2 {
    display: inline-block;
    padding: 34px 20px 41px 20px;
}

.stars-img {
    height: 13px;
    margin-bottom: 20px;
}

.menu-item-section {
    margin-bottom: 10px;
}

.menu-item-section .d-flex {
    width: 83.333333%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.menu-item-section h3 {
    text-align: center;
    padding: 25px 0px;
}

.menu-item-section h4 {
    text-align: center;
}

.menu-item-section p {
    text-align: center;
}

.menu-items-no-image {
    padding: 15px;
    border: 1px solid #e1e1e1;
    flex: 0 1 auto;
    width: 30%;
    max-height: 140px;
    margin-left: 5%;
    margin-bottom: 28px;
}

.menu-items-no-image:nth-of-type(3n-2) {
    margin-left: 0px;
}

.w-100 {
    height: 28px;
}

div.divider[stars=true]{
    height: 28px;
    background-image: url("../images/stars.png");
    background-position: center;
    background-size: 50px 13px;
    background-repeat: no-repeat;
}

.divider {
    background-color: #D5332F;
    width: 100%;
    text-align: center;
    padding: 5px;
    height: 19px;
}

.menu-items-image {
    /* display: flex; */
    /* height: 130px; */
    border: 1px solid #e1e1e1;
    flex: 1;
    /* margin-right: 30px; */
    position: relative;
    padding-right: 220px;
}

/* .menu-items-image:nth-of-type(3n-2) {
    margin-right: 60px;
} */

/* .menu-items-image .text-section {
    display: inline-block;
} */

.menu-items-image img {
    width: 210px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
}

.menu-item-section .dietry-allergy-button {
    margin-top: -13px;
}

.dietry-allergy-button {
    border-radius: 15px;
}

.dietry-allergy-button:hover {
    background: #F9C630;
}

#drinks-menu > div {
    flex: 1;
}

.col {
    margin-bottom: 30px;
}

#soft-drinks {
    margin-right: 50px;
}

.drink-section {
    border: 1px solid #e1e1e1;
    padding: 25px 0px 13px 0px;
    margin-bottom: 10px;
}

.drink-section .row {
    margin-left: 25px;
}

.drink-section .col-md-6 {
    margin-bottom: 22px;
}

.drink-section h4 {
    margin-bottom: 30px;
}

#bundles .d-flex {
    margin: 0px 8.3333% 75px 8.3333%;
}

.bundle-deals {
    background-color: #263671;
    color: #FFFFFF;
    padding: 30px 40px 18px 40px;
}

.bundle-deals > h1 {
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 3px;
}

.bundle-deals > p {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 25px;
}

.bundle-deals > img {
    height: 15px;
    display: block;
    margin: auto;
}

#order-now {
    background-color: #263671;
}

#order-now > h3 {
    color: #F9C630;
}

.logo-img {
    height: 130px;
    margin-top: 56px;
    margin-bottom: 24px;
}

.copyright-text p{
    font-size: 16px;
    line-height: 14px;
}

@media only screen and (max-width: 768px) {

    .img-hero-large {
        display: none;
    }

    .img-hero-small {
        display: inline;
    }

    .menu-item-section .d-flex {
        width: 94.375%;
    }

    .menu-items-image {
        flex-direction: column;
        padding: 0;
        width: 100%;
        flex: auto;
    }

    .menu-items-image img {
        width: 100%;
        height: auto;
        position: relative;
        /* left: 0;
        right: 0;
        top: 0;
        object-fit: fill; */
    }

    .menu-items-no-image {
        flex-direction: column;
        width: 100%;
        flex: auto;
        margin-left: 0px;
        margin-bottom: 9px;
    }

    #soft-drinks {
        margin-right: 0px;
    }

    #drinks-menu > div {
        flex: 0 1 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 882px) {

    .menu-items-image:nth-of-type(3n-2) {
        margin-right: 60px;
    }

    .menu-items-no-image:nth-of-type(4n-1) {
        margin-right: 0px;
    }
}